<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1BA556D1FF6C15300C3373C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1BA55811FF6C15400C3373C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1BA558C1FF6C15400C3373C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
